body{
    overflow: hidden;
}

label{
    font-size: .7rem;
}

input.form-control, input.form-control:focus {
    background: #f0f0ff;
}

.error {
    position: absolute;
    color: red;
    font-size: .6rem;
}
